<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.druid.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.example.druid.domain.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="chinese" jdbcType="REAL" property="chinese" />
    <result column="english" jdbcType="REAL" property="english" />
    <result column="math" jdbcType="REAL" property="math" />
    <result column="gender" jdbcType="CHAR" property="gender" />
  </resultMap>
</mapper>